<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://play-lh.googleusercontent.com/zfzRXIWPB5T1AZzv2JkicNnPkcRe0hr6ppFqFtDOAIFwPngUcdg05IVKjpPR30gx7CmC" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'Go Back', lists_path,:class => "btn btn-primary" %>

          </li>
      </ul>
    </div>
  </div>
</div>


<h1>Create a List</h1>
<%= render "form", list: @list %>
